.Rproj.user
.Rhistory
.RData
.DS_Store
data/.DS_Store
not_needed/
outputs/.DS_Store
.Ruserdata
results_text_reworked.nb.html
results_text_files/
scripts/results_text_old.Rmd
scripts/results_text_reworked_old.Rmd
.results_text.md
.chisq_results.xlsx
ignore/
Random.R
Trebski_et_al_unlinked.pdf
.gitignore
